<template name="hello">
    <div id="pageContainer">

        <div id="mastHeadContainer">
            <button class="navShowHide">
                <img src='/icons/menu.png' alt="">
            </button>

            <a href="/" class="logoContainer">
                <img src='/icons/VideoTubeLogo.png' title="logo" alt="Site logo">
            </a>

            <div class="searchBarContainer">
                <form action="">
                    <input type="text" class="searchBar" name="term" placeholder="Search...">
                    <button class="searchButton">
                        <img src='/icons/search.png' title="logo" alt="Site logo">
                    </button>
                </form>
            </div>

            <div class="rightIcons">
                <a href="upload" class="">
                    <img class="upload" src='/icons/upload.png'>
                </a>
                <a href="#">
                    <img class="upload" src='/profilePictures/default.png'>
                </a>
            </div>

        </div>

        <div id="sideNavContainer" style="display: none;">

        </div>

        <div id="mainSectionContainer">

            <div id="mainContentContainer">
                Hello Everyone
            </div>
        </div>
    </div>
</template>
